LogicDetailGraphView {
    flex-direction: row;
    background-color: #252525;
    flex: 1;
	
    position: absolute;
    left: 0;
    top: 400px;
    right: 0;
    bottom: 0;
	
}

.stretch {
    position: absolute;
    left: 0;
    top: 400px;
    right: 0;
    bottom: 0;
}
